* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    font-family: 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
    -webkit-font-smoothing: antialiased;
}

button {
    font-family: inherit;
    -webkit-user-select: none;
    user-select: none;
}
